name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: docker-compose run --rm tests
      # - name: Run lint
      #   run: docker-compose run --rm lint
      - name: Run shellcheck
        run: docker-compose run --rm shellcheck
